<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object With Page FactoryModel">
    
    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="com.w2a.errorcollectors.TestListenerAdapter"/>
        <listener class-name="com.w2a.listeners.CustomListeners"/>

  </listeners>
    
    
	<test name="Sign In Test">
		<classes>

			<class name="com.w2a.testcases.SignInTest" />
		</classes>
	</test> <!-- Test -->

    <test name="Flight Search Test">
        <classes>
            <class name="com.w2a.testcases.FlightSearchTest" />

        </classes>
    </test> <!-- Test -->
	

	
	
</suite> <!-- Suite -->
